#map-container {
    height: 60vh; /* Ajusta el tamaño del contenedor del mapa según tus necesidades */
    width: 100%;
  }
  
  google-map {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  ion-button {
    margin: 10px;
    width: 80%;
  }
  