<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Viaje</ion-title>
    <ion-buttons slot="end">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registrarViaje()">
    <ion-item>
      <ion-label position="floating">Ubicación de Origen</ion-label>
      <ion-input [(ngModel)]="p_ubicacion_origen" name="ubicacion de origen" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación de Destino</ion-label>
      <ion-input [(ngModel)]="p_ubicacion_destino" name="ubicacion de destino" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Costo del Viaje</ion-label>
      <ion-input type="number" [(ngModel)]="p_costo" name="costo" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Registrar Viaje</ion-button>
  </form>
</ion-content>
