<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <img src="assets/img/tellevofoto.png" alt="Header Image">
    </div>
</ion-toolbar>

<ion-item>
  <ion-icon name="mail" slot="start" class="input-icon"></ion-icon>
  <ion-input [(ngModel)]="email" label="Email" type="email"placeholder=""> </ion-input>
</ion-item> 
<ion-item>
  <ion-icon name="lock-closed" slot="start" class="input-icon"></ion-icon>
  <ion-input [(ngModel)]="password" label="Password" type="password"value=""> </ion-input>
</ion-item> 
<ion-button (click)="registrar()"expand="block">Registrar</ion-button>
<ion-button (click)="atras()"expand="block">Volver</ion-button>
  </ion-header>

  <ion-footer class="footer">
    <p>© 2024 cogollotecnology. todos los derechos reservados.</p>
  </ion-footer>