ion-content {
  --background: #1c1c1c; /* Fondo oscuro */
  color: white; /* Texto blanco */
}

.input-icon {
  color: white; /* Color de los iconos */
}

.footer {
  text-align: center;
  color: white;
  background-color: #2b2b2b; /* Fondo más oscuro para el footer */
}

ion-button {
  margin-top: 10px; /* Espacio entre botones */
}
