<ion-header>
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/principal"></ion-back-button>
      </ion-buttons>
      <img src="assets/img/tellevofoto.png" alt="Header Image" style="height: 40px;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mensaje si no hay viajes -->
  <div *ngIf="viajes.length === 0" style="text-align: center; margin-top: 20px;">
    <ion-card>
      <ion-card-content>
        <p><strong>No se han encontrado viajes disponibles.</strong></p>
        <ion-button routerLink="/crear-viaje" expand="block" color="primary">Crear Viaje</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Tarjetas de viajes -->
  <ion-card *ngFor="let v of viajes">
    <ion-card-header>
      <ion-card-title>
        🌍 {{v.ubicacion_origen}} - {{v.ubicacion_destino}}
      </ion-card-title>
      <ion-card-subtitle>
        <strong>Costo:</strong> ${{v.costo}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>🗓 Fecha:</strong> {{v.fecha}}</p>
      <p><strong>🚗 Estado:</strong> {{v.id_estado}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Desarrollado por ST&OE</ion-title>
  </ion-toolbar>
</ion-footer>